*
!.gitignore
!main.py
!vc/
!vc/**
vc/__pycache__/
!images/
!images/**
!pyproject.toml
!README.md
!README.en.md
!uv.lock
!tools/
!tools/**
tools/__pycache__/
tools/calibrate_estimate.json
!LICENSE
!sound.wav
